.hero.is-medium {
    position: relative;
    overflow: hidden;
}

.hero.is-medium h1,h2 {
    position: relative;
    z-index: 2;
}

.hero.is-medium img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.hero.is-medium h1 {
    font-size: 75px;
}

h2.subtitle-is-2    {
    font-size: 150%;
}

p {
    text-align: center;
    font-size: 120%;
}

.recipe-tile {
    cursor: pointer;
}